{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-var": 2,
    "no-console": 1,
    "no-debugger": 2,
    "no-unused-vars": 1,
    "no-unreachable": 2,
    "no-multi-spaces": 2,
    "no-unexpected-multiline": 2
  }
}